.join-room {
    margin-top: 50%;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.join-room-title {
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 5px;
    font-size: 11px;
}

.join-code {
    width: calc(95% - 20px);
    max-width: 293px;
    max-height: 145px;

    padding: 10px;

    border-radius: 12px;
    border: 2px solid #ff6a00;

    background: linear-gradient(180deg, rgb(255 136 0 / 35%), rgb(160 86 0 / 60%));
    color: #fff;

    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;

    outline: none;

    box-shadow: 0px 0px 9px rgb(255 136 0);

    overflow-y: scroll;
    margin: 20px 0 30px 0;

    text-transform: uppercase;
}

.join-code::placeholder {
    color: #fff;
    text-transform: lowercase;
}

.joinRoomBtn {
    text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
    color: white;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    width: 240px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* Gradiente */
    background: linear-gradient(180deg, #ffd54a 0%, #ff7a00 60%, #ff2a00 100%);

    /* Glow */
    box-shadow:
        0 0 8px rgba(255, 80, 0, 0.8),
        0 0 16px rgba(255, 50, 0, 0.6),
        0 4px 0 #8a1c00;

    /* brilho interno */
    outline: 2px solid rgba(255, 200, 100, 0.6);
    outline-offset: -3px;
}

#joinRoom-close {
    text-transform: capitalize;
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
    background: none;
    border: none;
    font-size: 20px;
}