.lobby {
    margin-top: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby-title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: white;
}

.lobby-title-p {
    font-size: 18px;
}

.lobby-waiting {
    font-size: 15px;
}

.lobby-title-p,
.lobby-waiting {
    padding: 6px 18px;
    font-family: sans-serif;
    border-radius: 5px;
    border: 2px solid var(--uiText) !important;
    outline: 2px solid rgba(255, 200, 100, 0.6);
    outline-offset: -3px;
    box-shadow:
        0 0px 10px rgb(255, 217, 1);
    text-transform: uppercase;
    font-weight: 800;
    color: var(--uiText);
    background: linear-gradient(90deg, #960000 0%, #d62d02 60%, #960000 100%);
}

.lobby-playerList {
    outline: 2px solid rgba(255, 200, 100, 0.6);
    outline-offset: -3px;
    border: 2px solid var(--uiText) !important;
    width: 270px;
    height: 200px;
    border-radius: 5px;
    box-shadow:
        0 0px 10px rgb(255, 217, 1);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
}

.lobby-player {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #960000 0%, #d62d02 60%, #960000 100%);
    border-radius: 7px;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.lobby-player img {
    position: absolute;
    width: 80px;
    left: 0;
    margin-top: -10px
}

.lobby-player img[src="./charFemale.png"] {
    transform: scaleX(-1)
}

.player-nickname {
    position: absolute;
    left: 85px;
    top: 0px;
    font-size: 20px;
    font-family: sans-serif;
    color: var(--uiText);
}

.player-hostMark {
    position: absolute;
    color: var(--uiText);
    right: 20px;
    font-family: sans-serif;
    font-size: 15px;
    top: 18px;
    padding: 2px 5px;
    text-transform: uppercase;
    border-radius: 5px;
    outline-offset: -3px;
    border: 2px solid var(--uiText) !important;
    box-shadow:
        0 0px 10px rgb(255, 217, 1);
    background: linear-gradient(0deg, #d47c08 0%, #d62d02 60%, #e90202 100%);
}

.wait-playerCount {
    margin: 0;
    font-family: sans-serif;
    color: var(--uiText);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

#host-startGame {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--uiText);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    font-family: monospace;
    border: 2px solid var(--uiText) !important;
    border-radius: 10px;
    background: linear-gradient(90deg, #960000 0%, #d62d02 60%, #960000 100%);
    width: 190px;
    height: 50px;
    outline-offset: -3px;
    border: 2px solid var(--uiText) !important;
    box-shadow:
        0 0px 10px rgb(255, 217, 1);
}